package ${cfg.pojoServicePkg}#if(${cfg.pojoServicePkgSuffix}).$!{cfg.utils.getPkg($table.name)}#end;

import ${cfg.baseService};
import ${cfg.pojoPkg}#if(${cfg.pojoPkgSuffix}).$!{cfg.utils.getPkg($table.name)}#end.${entity};
import ${cfg.mapperPkg}#if(${cfg.mapperPkgSuffix}).$!{cfg.utils.getPkg($table.name)}#end.${table.mapperName};
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * @author ${author}
 * @date ${cfg.date}
 */
@Service
@Transactional(readOnly = true, rollbackFor = Exception.class)
public class ${entity}Service extends ${cfg.utils.getClassSimpleNameFromFullName($cfg.baseService)}<${entity}, ${table.mapperName}> {

}