package ${cfg.mapperPkg}#if(${cfg.mapperPkgSuffix}).$!{cfg.utils.getPkg($table.name)}#end;

import ${cfg.baseMapper};

/**
 * @author ${author}
 * @date ${cfg.date}
 */
public interface ${table.mapperName} implements ${cfg.utils.getClassSimpleNameFromFullName($cfg.baseMapper)}<${entity}> {

}