package ${cfg.pojoServicePkg}#if(${cfg.pojoServicePkgSuffix}).$!{cfg.utils.getPkg($table.name)}#end;

import ${cfg.baseService};
import org.springframework.stereotype.Service;
import org.springframework.validation.annotation.Validated;

/**
 * @author ${author}
 * @date ${cfg.date}
 */
@Service
@Validated
public class ${entity}Service extends ${cfg.utils.getClassSimpleNameFromFullName($cfg.baseService)}<${entity}, ${table.mapperName}>{

}