package ${cfg.pojoServicePkg}#if(${cfg.pojoServicePkgSuffix}).$!{cfg.utils.getPkg($table.name)}#end;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.validation.annotation.Validated;

/**
 * @author ${author}
 * @date ${cfg.date}
 */
@Service
@Validated
public class ${entity}Service {
    @Autowired
    private ${table.mapperName} ${cfg.utils.makeFirstLetterLowerCaseOf($table.mapperName)};

}