package ${cfg.mapperPkg}#if(${cfg.mapperPkgSuffix}).$!{cfg.utils.getPkgFromUnderline($table.name,$cfg.rmpre)}#end;

import ${cfg.baseMapper};
import org.springframework.stereotype.Repository;
import org.springframework.validation.annotation.Validated;

import javax.annotation.PostConstruct;

/**
 * @author ${author}
 * @date ${cfg.date}
 */
@Repository
@Validated
public class ${cfg.utils.rmpreu($table,$cfg.rmpre)}Repo extends ${cfg.utils.getClassSimpleNameFromFullName($cfg.baseMapper)}<${cfg.utils.rmpreu($table,$cfg.rmpre)}> {

    @PostConstruct
    private void init() {
        this.NS = "${cfg.mapperPkg}#if(${cfg.mapperPkgSuffix}).$!{cfg.utils.getPkgFromUnderline($table.name,$cfg.rmpre)}#end.${cfg.utils.rmpreu($table,$cfg.rmpre)}Repo.";
    }
}