package ${cfg.pojoServicePkg}#if(${cfg.pojoServicePkgSuffix}).$!{cfg.utils.getPkgFromUnderline($table.name,$cfg.rmpre)}#end;

import ${cfg.baseService};
import org.springframework.stereotype.Service;

/**
 * @author ${author}
 * @date ${cfg.date}
 */
@Service
public class ${cfg.utils.rmpreu($table,$cfg.rmpre)}Service extends ${cfg.utils.getClassSimpleNameFromFullName($cfg.baseService)}<${cfg.utils.rmpreu($table,$cfg.rmpre)}, ${cfg.utils.rmpreu($table,$cfg.rmpre)}Repo> {

}